In [ ]:
# Last run on 1. Jan-12-2023 2.Jan-23-2024

In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
##### DATABASE CONNECTION ####

# def saveToSQL(dataframe,tablename,todo):
# # METHOD 2 FOR SQL CONNECTION
#     from sqlalchemy import create_engine
#     engine = create_engine('mysql+pymysql://root:Sushant#1485abcd@localhost/mysql_portfolio')
# #     print("connection established Method 1")
# #     print(dataframe)
# # Start index from 1 instead of 0 (default)
#     dataframe.index = dataframe.index+1
#     dataframe.to_sql(tablename, con = engine,schema = 'mysql_portfolio', if_exists=todo,index = True,index_label ='id',method = None)
# print('Data connection successful!')

In [ ]:
##### DATABASE CONNECTION ####
#####Load data function ####
def saveToSQL(dataframe, tablename, todo):
    # METHOD 2 FOR SQL CONNECTION
    from sqlalchemy import create_engine
    if 'source' in dataframe.columns:
    # Exclude the 'source' column from the dataframe
        dataframe = dataframe.drop(columns=['source'])
    if 'cik' in dataframe.columns:
    # Exclude the 'source' column from the dataframe
        dataframe = dataframe.drop(columns=['cik'])
    else:
        dataframe = dataframe
    engine = create_engine('mysql+pymysql://root:Sushant#1485abcd@localhost/mysql_portfolio')
    # Start index from 1 instead of 0 (default)
    dataframe.index = dataframe.index + 1
    # Insert data into the specified table
    try:
        dataframe.to_sql(tablename, con=engine, schema='mysql_portfolio', if_exists=todo, index=True, index_label='id', method=None)
        # print(f"data saved in {tablename} successfully.")
    except Exception as e:
        print(f"Error creating table or inserting data: {str(e)}")

print('Data connection successful!')

In [ ]:
import json
import csv
import urllib.request
import pandas as pd
import numpy as np
import pymysql
from io import BufferedReader
import mysql.connector as connection
from datetime import date


# THIS CODE NEEDS TO BE RUN BEFORE MAKING THE SQL CONNECTION

pymysql.converters.encoders[np.float64] = pymysql.converters.escape_float
pymysql.converters.conversions = pymysql.converters.encoders.copy()
pymysql.converters.conversions.update(pymysql.converters.decoders)

In [ ]:
from datetime import date, timedelta

today = date.today()
first_day_of_current_month = date(today.year, today.month, 1)
last_day_of_previous_month = first_day_of_current_month - timedelta(days=1)

# print(first_day_of_current_month - timedelta(days=1))

last_month_end_string = last_day_of_previous_month.strftime("%Y-%m-%d")
last_month_end_string

######### RUN BELOW CODE PER EXCHANGE PER SYMBOL ##########

##### ALWAYS LOAD DATA ONLY FOR PORTFOLIO SYMBOLS FIRST THEN LOAD DATA FOR ALL SYMBOLS OTHER THAN PORTFOLIO SYMBOLS ##

#### BEFORE LOADING SYMBOL FOR ALL EXCHANGES MAKE SURE ALL DATA FOR ALL PORTFOLIO SYMBOLS ARE LOADED CORRECTLY ####

In [13]:
###### LOAD DATA FOR PORTFOLIO SYMBOLS ######

import mysql.connector as connection
import pandas as pd

try:
    mydb = connection.connect(host="localhost", database = 'mysql_portfolio',user="root", passwd="Sushant#1485abcd",use_pure=True)
    query = "SELECT * FROM mysql_portfolio.portfolio_stocks WHERE latest_price > 0;"
    df_symbol_list_sql = pd.read_sql(query,mydb)
#     df_symbol_list_sql.head(10)
    symbol = df_symbol_list_sql['symbol']
    
    mydb.close() #close the connection
except Exception as e:
    mydb.close()
    print(str(e))

/var/folders/n_/58h8yk7n6ns4ng6l1mncq0fh0000gn/T/ipykernel_7177/4276061057.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_symbol_list_sql = pd.read_sql(query,mydb)

In [11]:
######### CHANGE EXCHANGE FOR PER SYMBOL ##########
# import required data from mydql/database
import mysql.connector as connection
import pandas as pd

try:
    mydb = connection.connect(host="localhost", database = 'mysql_portfolio',user="root", passwd="Sushant#1485abcd",use_pure=True)
    query = """SELECT * FROM mysql_portfolio.symbol_list 
               WHERE symbol not in (SELECT DISTINCT symbol FROM mysql_portfolio.portfolio_stocks) 
               AND exchangeShortName in ('NASDAQ') AND type = 'stock';"""
    df_symbol_list_sql = pd.read_sql(query,mydb)
#     df_symbol_list_sql.head(10)
    symbol = df_symbol_list_sql['symbol']
    
    mydb.close() #close the connection
except Exception as e:
    mydb.close()
    print(str(e))

/var/folders/n_/58h8yk7n6ns4ng6l1mncq0fh0000gn/T/ipykernel_7177/4246169042.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_symbol_list_sql = pd.read_sql(query,mydb)

In [14]:
df_symbol_list_sql

,stock,symbol,exchange,latest_price,quantity,investment_price,latest_price_date,stock_added_at,updated_at
0,63 Moons Tech,63MOONS.NS,NSE,444.55,7,153.71,2024-01-15,2013-01-01,None
1,Anjani Portland,APCL.NS,NSE,212.25,25,308.37,2024-01-15,2022-01-01,None
2,Balkrishna Ind,BALKRISIND.NS,NSE,2679.10,21,244.76,2024-01-15,2013-01-01,None
3,Bank of Baroda,BANKBARODA.NS,NSE,231.10,19,200.43,2024-01-15,2013-01-01,None
4,Can Fin Homes,CANFINHOME.NS,NSE,763.90,35,158.26,2024-01-15,2017-01-01,None
5,Canara Bank,CANBK.NS,NSE,465.40,15,268.83,2024-01-15,2013-01-01,None
6,Dabur India,DABUR.NS,NSE,554.15,10,533.60,2024-01-15,2023-01-01,None
7,HIL,HIL.NS,NSE,3066.80,23,2244.98,2024-01-15,2020-01-01,None
8,HINDPETRO,HINDPETRO.NS,NSE,449.60,52,125.82,2024-01-15,2013-01-01,None
9,HUL,HINDUNILVR.NS,NSE,2573.20,3,2591.35,2024-01-15,2020-01-01,None
10,Himalaya Food,HFIL.BO,BSE,23.31,125,22.90,2024-01-15,2017-01-01,None
11,ITC,ITC.NS,NSE,467.60,20,356.75,2024-01-15,2023-01-01,None
12,Indag Rubber,INDAG.BO,BSE,144.90,115,92.52,2024-01-15,2017-01-01,None
13,Inox Wind,INOXWIND.NS,NSE,451.65,30,185.75,2024-01-15,2017-01-01,None
14,JB Chemicals,JBCHEPHARM.NS,NSE,1657.95,5,134.00,2024-01-15,2015-01-01,None
15,Jindal PolyFilm,JINDALPOLY.NS,NSE,674.00,13,1145.30,2024-01-15,2023-01-01,None
16,Kaveri Seed,KSCL.NS,NSE,661.15,20,566.35,2024-01-15,2017-01-01,None
17,LIC Housing Fin,LICHSGFIN.NS,NSE,578.10,14,301.70,2024-01-15,2017-01-01,None
18,La Opala RG,LAOPALA.NS,NSE,359.60,22,30.42,2024-01-15,2017-01-01,None
19,Lupin,LUPIN.NS,NSE,1413.00,11,1406.27,2024-01-15,2017-01-01,None
20,M&M,M&M.NS,NSE,1635.55,10,802.00,2024-01-15,2023-01-01,None
21,MRF,MRF.NS,NSE,135951.15,1,17054.00,2024-01-15,2015-01-01,None
22,Marksans Pharma,MARKSANS.NS,NSE,160.75,100,50.55,2024-01-15,2015-01-01,None
23,Navin Fluorine,NAVINFLUOR.NS,NSE,3536.20,35,92.29,2024-01-15,2015-01-01,None
24,ORIENTAL AROMAT,OAL.NS,NSE,413.20,125,154.83,2024-01-15,2015-01-01,None
25,PNB,PNB.NS,NSE,98.20,30,151.67,2024-01-15,2015-01-01,None
26,PNB Gilts,PNBGILTS.NS,NSE,112.60,50,63.30,2024-01-15,2023-01-01,None
27,Power Finance,PFC.NS,NSE,409.50,117,100.14,2024-01-15,2015-01-01,None
28,REC,RECLTD.NS,NSE,440.40,13,130.77,2024-01-15,2015-01-01,None
29,Sasken Tech,SASKEN.NS,NSE,1536.60,28,629.89,2024-01-15,2017-01-01,None
30,Shakti Pumps,SHAKTIPUMP.NS,NSE,1070.80,25,211.73,2024-01-15,2015-01-01,None
31,Sintex Plastics,SPTL.NS,NSE,1.40,19,130.00,2024-01-15,2015-01-01,None
32,Styrenix,STYRENIX,NSE,1597.00,28,1000.92,2024-01-15,2023-01-01,None
33,Superhouse,SUPERHOUSE.NS,NSE,257.00,25,164.97,2024-01-15,2015-01-01,None
34,Tata Motors,TATAMOTORS.NS,NSE,812.45,10,435.00,2024-01-15,2023-01-01,None
35,Tata Steel,TATASTEEL.NS,NSE,134.90,270,50.89,2024-01-15,2017-01-01,None
36,Tide Water Oil,TIDEWATER.NS,NSE,1397.90,25,938.00,2024-01-15,2017-01-01,None
37,Zuari Agro Chem,ZUARIIND.NS,NSE,231.60,11,168.36,2024-01-15,2015-01-01,None
38,APPLE INC,AAPL,NASDAQ,185.92,8,142.91,2024-01-16,2023-01-01,None
39,COSTCO WHOLESALE,COST,NASDAQ,683.24,3,506.29,2024-01-17,2023-01-02,None
40,INFOSYS LTD,INFY,NASDAQ,19.60,10,19.29,2024-01-18,2023-01-03,None
41,MICROSOFT CORP,MSFT,NASDAQ,388.47,2,272.00,2024-01-19,2023-01-04,None
42,NU HOLDINGS LTD,NU,NASDAQ,9.26,50,4.23,2024-01-20,2023-01-05,None
43,PFIZER INC,PFE,NASDAQ,28.70,3,41.75,2024-01-21,2023-01-06,None
44,PROCTER AND GAMBLE CO COM,PG,NASDAQ,150.60,3,123.01,2024-01-22,2023-01-07,None
45,SCHWAB STRATEGIC TR US REIT ETF,SCHH,NASDAQ,20.53,10,17.47,2024-01-23,2023-01-08,None
46,SYSCO CORP,SYY,NASDAQ,75.75,3,71.71,2024-01-24,2023-01-09,None
47,TESLA INC COM,TSLA,NASDAQ,218.89,14,190.26,2024-01-25,2023-01-10,None
48,TAIWAN SEMICONDUCTOR,TSM,NASDAQ,101.24,5,62.80,2024-01-26,2023-01-11,None
49,VISA INC,V,NASDAQ,264.17,3,215.24,2024-01-27,2023-01-12,None

In [ ]:
import time
import pymysql
import requests

def connect_with_retry_1(api_url): 
    max_retries = 100
    retry_delay = 65  # seconds
    retries = 0
    

    while retries < max_retries:
        try:
            response = requests.get(api_url)
            # print(response)
            response.raise_for_status()
            
            # if response.status_code == 429:
            #     print(response.status_code)
            #     make_http_request(api_url,response)
            # else:
            # print("try code execution")
            read_json = pd.read_json(api_url)
            # read_json.raise_for_status()
            return read_json
        
        except pymysql.err.OperationalError as e:
            if e.args[0] == 1040:  # Too many connections error
                print("Too many connections. Retrying in {} seconds...".format(retry_delay))
                time.sleep(retry_delay)
                retries += 1
            else:
                raise  # Re-raise other OperationalError exceptions
        
        except requests.HTTPError as e:
            if response.status_code == 429:
                retry_after = int(response.headers.get('Retry-After', 0))
                print("Wait time:", retry_after)
                time.sleep(retry_after)
                retries += 1
                return connect_with_retry(api_url)
            else:
                print("Error:", e)
    # If max_retries is reached without a successful connection, handle the failure
    print("Failed to establish a database connection after {} retries.".format(max_retries))
    return None

In [ ]:
import pandas as pd
import requests

def connect_with_retry(api_url):
    # url = 'https://example.com/data.json'
    try:
        response = requests.get(api_url)
        # print(response)
        response.raise_for_status()  # Raises an exception if the response status is not successful (2xx)
        read_json = pd.read_json(api_url)
        return read_json
    # Process the data as needed
    except requests.HTTPError as e:
        if e.response.status_code == 429:
            retry_after = int(response.headers.get('Retry-After', 0))
            print("Wait time:", retry_after)
        # print("Too many requests. Please wait and try again later.")
            time.sleep(retry_after)
            return connect_with_retry(api_url)
        else:
            print("HTTP Error:", e)
    except Exception as e:
        print("Error:", e)

In [ ]:
import requests

def make_http_request(api_url,response):
    try:
        # response = requests.get(api_url)
        # Check if the response status code is 429 (Too Many Requests)
        # if response.status_code == 429:
        print(response.headers.get())
        retry_after = int(response.headers.get('Retry-After', 0))
        print(retry_after)
            # if retry_after > 0:
                # Wait for the specified duration before retrying
        print(f"Rate limited. Waiting for {retry_after} seconds...")
        time.sleep(retry_after)
                # Retry the request recursively
        return connect_with_retry(api_url)
        #     else:
        #         # Retry immediately without waiting
        #         return make_http_request(api_url)
        # else:
        #     connect_with_retry(api_url)
        #     # Handle successful response here
        #     # return response.json()
        #     return make_http_request(api_url)
    except requests.exceptions.RequestException as e:
        # Handle request exceptions
        print(f"Request failed: {str(e)}")

##### IF THE UNIQUE CONSTRAIN FAILS BELOW COMMENT THE CODE FOR UNIQUE CONSTAINT AND 
####. WRITE SQL QUERY TO REMOVE DUPLICATES POST ALL TABLES CREATION AND BEFORE RUNNING AIRFLOW JOBS

In [ ]:
# Code to load shares float  - 1
import urllib.request, json
import pandas as pd

url = 'https://financialmodelingprep.com/api/v4/shares_float?symbol=stock_name&apikey=96d0bbfe61e1cad96d3a497d880cdd2f'
symbol = df_symbol_list_sql['symbol']

for x in symbol:
    newurl = url.replace('stock_name',x)
    api_data = connect_with_retry(newurl)
    df_share_float = api_data
    df_share_float['date_added']= date.today()
    saveToSQL(df_share_float,"shares_float",'append')
#     df_income_statement.append(df_income_statement)
#     call_api(newurl)
print('Entire Data loaded in table')

# Adding index to table 
index_sql = "CREATE INDEX idx_symbol ON mysql_portfolio.shares_float (symbol(255));"

# Adding unique constraint
constraint_sql = """
ALTER TABLE mysql_portfolio.shares_float
ADD CONSTRAINT unique_shares_float UNIQUE (symbol(255),freeFloat,floatShares);
"""
# Database connection
engine = create_engine('mysql+pymysql://root:Sushant#1485abcd@localhost/mysql_portfolio')

# Execute SQL statements
with engine.connect() as connection:
    connection.execute(index_sql)
    connection.execute(constraint_sql)

In [ ]:
# Historical Prices
# UPDATE BY PROVIDING MANUAL DATE
import urllib.request, json
import pandas as pd

# This API contails multilevel json file which cannot handled by read_json()
# so we will use jason.loads() AND json_normalize()
# more info:https://towardsdatascience.com/all-pandas-json-normalize-you-should-know-for-flattening-json-13eae1dfb7dd

# symbol = ['AAPL','MSFT','F','AMD','FB','MRF.NS','SHAKTIPUMP.NS','OAL.NS','KSCL.NS','MARKSANS.NS','LICHSGFIN.NS','CANFINHOME.NS','SASKEN.NS','HINDPETRO.NS','TIDEWATER.NS','HIL.NS','BALKRISIND.NS','NAVINFLUOR.NS']
url = 'https://financialmodelingprep.com/api/v3/historical-price-full/symbol?apikey=96d0bbfe61e1cad96d3a497d880cdd2f'
symbol = df_symbol_list_sql['symbol']
idx = 0
for x in symbol:
    try:
#     print(symbol)
        newurl = url.replace('symbol',x)
#         print(x)
        with urllib.request.urlopen(newurl) as newurl:
            data = json.loads(newurl.read().decode())
#           print(data)
            df_hist_price = pd.json_normalize(data['historical'])
#           df_hist_price ['symbol'] = x   # This will add a new column to dataframe at last position by default
            df_hist_price.insert(loc=idx, column='symbol', value=x) # This will add a new column at specific/required location
#           dt = pd.DataFrame(data =[{'symbol':x,}])
#           df_hist_price.head(10)
            df_hist_price['date_added']= date.today()
            saveToSQL(df_hist_price,"historical_prices",'append')
    except Exception as val:
        print(val)
        continue
print('Entire data is loaded')

# Adding index to table 
index_sql = "CREATE INDEX idx_symbol ON mysql_portfolio.historical_prices (symbol(255));"

# Adding unique constraint
constraint_sql = """
ALTER TABLE mysql_portfolio.historical_prices
ADD CONSTRAINT unique_historical_prices UNIQUE (symbol(255),open,adjClose);
"""
# Database connection
engine = create_engine('mysql+pymysql://root:Sushant#1485abcd@localhost/mysql_portfolio')

# Execute SQL statements
with engine.connect() as connection:
    connection.execute(index_sql)
    connection.execute(constraint_sql)

In [ ]:
# Code to load income statement  - 1
import urllib.request, json
import pandas as pd

url = 'https://financialmodelingprep.com/api/v3/income-statement/symbol?limit=120&apikey=96d0bbfe61e1cad96d3a497d880cdd2f'
symbol = df_symbol_list_sql['symbol']
# symbol = ['LNDC']
# symbol = ['MRF.NS','SHAKTIPUMP.NS','OAL.NS','KSCL.NS','MARKSANS.NS','LICHSGFIN.NS','CANFINHOME.NS','SASKEN.NS','HINDPETRO.NS','TIDEWATER.NS','HIL.NS','BALKRISIND.NS','NAVINFLUOR.NS']
for x in symbol:
    try:
        newurl = url.replace('symbol',x)
        api_data = connect_with_retry(newurl)
        df_income_statement = api_data
        df_income_statement = df_income_statement.replace(r'^\s*$', np.NaN, regex=True) # This replaces special characters/Null/blank values with NaN
        # df_income_statement['cik'] = df_income_statement['cik'].fillna(0) # This replaces NaN with 0
#         df_income_statement
        df_income_statement['date_added']= date.today()
        saveToSQL(df_income_statement,"income_statement",'append')
    except Exception as val:
        print(val)
        continue
#     df_income_statement.append(df_income_statement)
#     call_api(newurl)
print('Entire Data loaded in table')

# Adding index to table 
index_sql = "CREATE INDEX idx_symbol ON mysql_portfolio.income_statement (symbol(255));"

# Adding unique constraint
constraint_sql = """
ALTER TABLE mysql_portfolio.income_statement
ADD CONSTRAINT unique_income_statement UNIQUE (symbol(255),reportedCurrency(255),calendarYear,revenue);
"""
# Database connection
engine = create_engine('mysql+pymysql://root:Sushant#1485abcd@localhost/mysql_portfolio')

# Execute SQL statements
with engine.connect() as connection:
    connection.execute(index_sql)
    connection.execute(constraint_sql)

In [ ]:
# Code to load balance sheet
import urllib.request, json
import pandas as pd

rowcount = 0
url = 'https://financialmodelingprep.com/api/v3/balance-sheet-statement/symbol?limit=120&apikey=96d0bbfe61e1cad96d3a497d880cdd2f'
symbol = df_symbol_list_sql['symbol']
# symbol = ['AAPL','MSFT','F','AMD','FB']
# symbol = ['AAPL','MSFT','F','AMD','FB','MRF.NS','SHAKTIPUMP.NS','OAL.NS','KSCL.NS','MARKSANS.NS','LICHSGFIN.NS','CANFINHOME.NS','SASKEN.NS','HINDPETRO.NS','TIDEWATER.NS','HIL.NS','BALKRISIND.NS','NAVINFLUOR.NS']

for x in symbol:
    try:
        newurl = url.replace('symbol', x)
        api_data = connect_with_retry(newurl)
        df_balance_sheet = api_data

        # Check if the DataFrame is empty
        if df_balance_sheet.empty:
            print(f"Warning: No data found for symbol {x}. Skipping.")
            continue

        df_balance_sheet = df_balance_sheet.replace(r'^\s*$', np.NaN, regex=True)
        # df_balance_sheet['cik'] = df_balance_sheet['cik'].fillna(0)
        
        df_balance_sheet['date_added'] = date.today()
        saveToSQL(df_balance_sheet, "balance_sheet", 'append')
    except Exception as val:
        print(val)
        continue

print('Entire Data loaded in table')

# Adding index to table 
index_sql = "CREATE INDEX idx_symbol ON mysql_portfolio.balance_sheet (symbol(255));"

# Adding unique constraint
constraint_sql = """
ALTER TABLE mysql_portfolio.balance_sheet
ADD CONSTRAINT unique_balance_sheet UNIQUE (symbol(255),reportedCurrency(255),calendarYear,cashAndCashEquivalents);
"""
# Database connection
engine = create_engine('mysql+pymysql://root:Sushant#1485abcd@localhost/mysql_portfolio')

# Execute SQL statements
with engine.connect() as connection:
    connection.execute(index_sql)
    connection.execute(constraint_sql)

In [ ]:
# Code to load cash flow statement
import urllib.request, json
import pandas as pd

rowcount = 0
url = 'https://financialmodelingprep.com/api/v3/cash-flow-statement/symbol?limit=120&apikey=96d0bbfe61e1cad96d3a497d880cdd2f'
symbol = df_symbol_list_sql['symbol']
# symbol = ['AAPL','MSFT','F','AMD','FB']
# symbol = ['AAPL','MSFT','F','AMD','FB','MRF.NS','SHAKTIPUMP.NS','OAL.NS','KSCL.NS','MARKSANS.NS','LICHSGFIN.NS','CANFINHOME.NS','SASKEN.NS','HINDPETRO.NS','TIDEWATER.NS','HIL.NS','BALKRISIND.NS','NAVINFLUOR.NS']

for x in symbol:
    try:
        newurl = url.replace('symbol', x)
        # print(x)
        api_data = connect_with_retry(newurl)
        df_cash_flow_statement = api_data

        # Check if the DataFrame is empty
        if df_cash_flow_statement.empty:
            print(f"Warning: No data found for symbol {x}. Skipping.")
            continue

        df_cash_flow_statement = df_cash_flow_statement.replace(r'^\s*$', np.NaN, regex=True)
        # df_cash_flow_statement['cik'] = df_cash_flow_statement['cik'].fillna(0)
        
        df_cash_flow_statement['date_added'] = date.today()
        saveToSQL(df_cash_flow_statement, "cash_flow_statement", 'append')
    except Exception as val:
        print(val)
        continue
print('Entire Data loaded in table')

# Adding index to table 
index_sql = "CREATE INDEX idx_symbol ON mysql_portfolio.cash_flow_statement (symbol(255));"

# Adding unique constraint
constraint_sql = """
ALTER TABLE mysql_portfolio.cash_flow_statement
ADD CONSTRAINT unique_cash_flow_statement UNIQUE (symbol(255),reportedCurrency(255),calendarYear,netIncome);
"""
# Database connection
engine = create_engine('mysql+pymysql://root:Sushant#1485abcd@localhost/mysql_portfolio')

# Execute SQL statements
with engine.connect() as connection:
    connection.execute(index_sql)
    connection.execute(constraint_sql)

In [ ]:
# Code to load overall financial growth
#Financial Statement Growth of a company based on its financial statement, 
#it compares previous financial statement to get growth of all its statement.

import urllib.request, json
import pandas as pd

rowcount = 0
url = 'https://financialmodelingprep.com/api/v3/financial-growth/symbol?limit=60&apikey=96d0bbfe61e1cad96d3a497d880cdd2f'
symbol = df_symbol_list_sql['symbol']
# symbol = ['AAPL','MSFT','F','AMD','FB']
# symbol = ['AAPL','MSFT','F','AMD','FB','MRF.NS','SHAKTIPUMP.NS','OAL.NS','KSCL.NS','MARKSANS.NS','LICHSGFIN.NS','CANFINHOME.NS','SASKEN.NS','HINDPETRO.NS','TIDEWATER.NS','HIL.NS','BALKRISIND.NS','NAVINFLUOR.NS']

for x in symbol:
    try:
        newurl = url.replace('symbol', x)
        # print(x)
        api_data = connect_with_retry(newurl)
        df_financial_growth = api_data
        # df_financial_growth

        # Check if the DataFrame is empty
        if df_financial_growth.empty:
            print(f"Warning: No data found for symbol {x}. Skipping.")
            continue

        df_financial_growth = df_financial_growth.replace(r'^\s*$', np.NaN, regex=True)
        # df_financial_growth['cik'] = df_financial_growth['cik'].fillna(0)
        
        df_financial_growth['date_added'] = date.today()
        saveToSQL(df_financial_growth, "financial_growth", 'append')
    except Exception as val:
        print(val)
        continue
print('Entire Data loaded in table')

# Adding index to table 
index_sql = "CREATE INDEX idx_symbol ON mysql_portfolio.financial_growth (symbol(255));"

# Adding unique constraint
constraint_sql = """
ALTER TABLE mysql_portfolio.financial_growth
ADD CONSTRAINT unique_financial_growth UNIQUE (symbol(255),calendarYear,revenueGrowth);
"""
# Database connection
engine = create_engine('mysql+pymysql://root:Sushant#1485abcd@localhost/mysql_portfolio')

# Execute SQL statements
with engine.connect() as connection:
    connection.execute(index_sql)
    connection.execute(constraint_sql)

In [ ]:
# Code to load financial_ratios
import urllib.request, json
import pandas as pd

rowcount = 0
url = 'https://financialmodelingprep.com/api/v3/ratios/symbol?limit=60&apikey=96d0bbfe61e1cad96d3a497d880cdd2f'
symbol = df_symbol_list_sql['symbol']
# symbol = ['AAPL','MSFT','F','AMD','FB']
# symbol = ['AAPL','MSFT','F','AMD','FB','MRF.NS','SHAKTIPUMP.NS','OAL.NS','KSCL.NS','MARKSANS.NS','LICHSGFIN.NS','CANFINHOME.NS','SASKEN.NS','HINDPETRO.NS','TIDEWATER.NS','HIL.NS','BALKRISIND.NS','NAVINFLUOR.NS']
for x in symbol:
    try:
        newurl = url.replace('symbol', x)
        api_data = connect_with_retry(newurl)
        df_financial_ratios = api_data

        # Check if the DataFrame is empty
        if df_financial_ratios.empty:
            print(f"Warning: No data found for symbol {x}. Skipping.")
            continue

        df_financial_ratios = df_financial_ratios.replace(r'^\s*$', np.NaN, regex=True)
        # df_financial_ratios['cik'] = df_financial_ratios['cik'].fillna(0)
        
        df_financial_ratios['date_added'] = date.today()
        saveToSQL(df_financial_ratios, "financial_ratios", 'append')
    except Exception as val:
        print(val)
        continue
print('Entire Data loaded in table')

# Adding index to table 
index_sql = "CREATE INDEX idx_symbol ON mysql_portfolio.financial_ratios (symbol(255));"

# Adding unique constraint
constraint_sql = """
ALTER TABLE mysql_portfolio.financial_ratios
ADD CONSTRAINT unique_financial_ratios UNIQUE (symbol(255),calendarYear,currentRatio);
"""
# Database connection
engine = create_engine('mysql+pymysql://root:Sushant#1485abcd@localhost/mysql_portfolio')

# Execute SQL statements
with engine.connect() as connection:
    connection.execute(index_sql)
    connection.execute(constraint_sql)

In [ ]:
# Code to load key_metrics
import urllib.request, json
import pandas as pd

rowcount = 0
url = 'https://financialmodelingprep.com/api/v3/key-metrics/symbol?limit=60&apikey=96d0bbfe61e1cad96d3a497d880cdd2f'
symbol = df_symbol_list_sql['symbol']
# symbol = ['AAPL','MSFT','F','AMD','FB','MRF.NS','SHAKTIPUMP.NS','OAL.NS','KSCL.NS','MARKSANS.NS','LICHSGFIN.NS','CANFINHOME.NS','SASKEN.NS','HINDPETRO.NS','TIDEWATER.NS','HIL.NS','BALKRISIND.NS','NAVINFLUOR.NS']

for x in symbol:
    try:
        newurl = url.replace('symbol', x)
        api_data = connect_with_retry(newurl)
        df_key_metrics = api_data

        # Check if the DataFrame is empty
        if df_key_metrics.empty:
            print(f"Warning: No data found for symbol {x}. Skipping.")
            continue

        df_key_metrics = df_key_metrics.replace(r'^\s*$', np.NaN, regex=True)
        # df_key_metrics['cik'] = df_key_metrics['cik'].fillna(0)
        
        df_key_metrics['date_added'] = date.today()
        saveToSQL(df_key_metrics, "key_metrics", 'append')
    except Exception as val:
        print(val)
        continue
print('Entire Data loaded in table')

# Adding index to table 
index_sql = "CREATE INDEX idx_symbol ON mysql_portfolio.key_metrics (symbol(255));"

# Adding unique constraint
constraint_sql = """
ALTER TABLE mysql_portfolio.key_metrics
ADD CONSTRAINT unique_key_metrics UNIQUE (symbol(255),calendarYear,revenuePerShare);
"""
# Database connection
engine = create_engine('mysql+pymysql://root:Sushant#1485abcd@localhost/mysql_portfolio')

# Execute SQL statements
with engine.connect() as connection:
    connection.execute(index_sql)
    connection.execute(constraint_sql)

-- OCT 10 2021
DOWNLOAD RATING AND DCF VALUE API AFTER DEVELOPING OUR PRODUCT

AND COMPARE OUR PRICES AND BUY/SELL SIGNAL WITH API VALUES

DOWNLOAD PEER LIST DATA AS WELL, GOOD INFO FOR IDENTIFY GROWTH STOCK


SOME GOOD NOTES ABOUT GROWTH STOCK: 
1. https://www.dummies.com/personal-finance/investing/stocks-trading/how-to-choose-growth-stocks/
2. https://www.investopedia.com/terms/g/growthstock.asp

In [ ]:
# Jan 01 2022 
# Code to load dcf_values
import urllib.request, json
import pandas as pd

url = 'https://financialmodelingprep.com/api/v3/discounted-cash-flow/symbol?apikey=96d0bbfe61e1cad96d3a497d880cdd2f'
symbol = df_symbol_list_sql['symbol']
# symbol = ['GFNCP']
# symbol = ['AAPL','MSFT','F','AMD','FB','MRF.NS','SHAKTIPUMP.NS','OAL.NS','KSCL.NS','MARKSANS.NS','LICHSGFIN.NS','CANFINHOME.NS','SASKEN.NS','HINDPETRO.NS','TIDEWATER.NS','HIL.NS','BALKRISIND.NS','NAVINFLUOR.NS']

for x in symbol:
    try:
        newurl = url.replace('symbol', x)
        api_data = connect_with_retry(newurl)
        df_api_dcf = api_data

        # Check if the DataFrame is empty
        if df_api_dcf.empty:
            print(f"Warning: No data found for symbol {x}. Skipping.")
            continue

        df_api_dcf = df_api_dcf.replace(r'^\s*$', np.NaN, regex=True)
        # df_api_dcf['cik'] = df_api_dcf['cik'].fillna(0)
        
        df_api_dcf['date_added'] = date.today()
        saveToSQL(df_api_dcf, "api_dcf", 'append')
    except Exception as val:
        print(val)
        continue
print('Entire Data loaded in table')

# Adding index to table 
index_sql = "CREATE INDEX idx_symbol ON mysql_portfolio.api_dcf (symbol(255));"

# Adding unique constraint
constraint_sql = """
ALTER TABLE mysql_portfolio.api_dcf
ADD CONSTRAINT unique_api_dcf UNIQUE (symbol(255),dcf);
"""
# Database connection
engine = create_engine('mysql+pymysql://root:Sushant#1485abcd@localhost/mysql_portfolio')

# Execute SQL statements
with engine.connect() as connection:
    connection.execute(index_sql)
    connection.execute(constraint_sql)

In [ ]:
# Code to load ratings
import urllib.request, json
import pandas as pd

url = 'https://financialmodelingprep.com/api/v3/rating/symbol?apikey=96d0bbfe61e1cad96d3a497d880cdd2f'
symbol = df_symbol_list_sql['symbol']
# symbol = ['AAPL','MSFT','F','AMD','FB','MRF.NS','SHAKTIPUMP.NS','OAL.NS','KSCL.NS','MARKSANS.NS','LICHSGFIN.NS','CANFINHOME.NS','SASKEN.NS','HINDPETRO.NS','TIDEWATER.NS','HIL.NS','BALKRISIND.NS','NAVINFLUOR.NS']

for x in symbol:
    try:
        newurl = url.replace('symbol', x)
        api_data = connect_with_retry(newurl)
        df_api_rating = api_data

        # Check if the DataFrame is empty
        if df_api_rating.empty:
            print(f"Warning: No data found for symbol {x}. Skipping.")
            continue

        df_api_rating = df_api_rating.replace(r'^\s*$', np.NaN, regex=True)
        # df_api_rating['cik'] = df_api_rating['cik'].fillna(0)
        
        df_api_rating['date_added'] = date.today()
        saveToSQL(df_api_rating, "api_rating", 'append')
    except Exception as val:
        print(val)
        continue
print('Entire Data loaded in table')

# Adding index to table 
index_sql = "CREATE INDEX idx_symbol ON mysql_portfolio.api_rating (symbol(255));"

# Adding unique constraint
constraint_sql = """
ALTER TABLE mysql_portfolio.api_rating
ADD CONSTRAINT unique_api_rating UNIQUE (symbol(255),rating(255),ratingScore);
"""
# Database connection
engine = create_engine('mysql+pymysql://root:Sushant#1485abcd@localhost/mysql_portfolio')

# Execute SQL statements
with engine.connect() as connection:
    connection.execute(index_sql)
    connection.execute(constraint_sql)

In [ ]:
# Code to load stock peers
# import urllib.request, json
# import pandas as pd

# url = 'https://financialmodelingprep.com/api/v4/stock_peers?symbol=stock_name&apikey=96d0bbfe61e1cad96d3a497d880cdd2f'
# # symbol = df_symbol_list['symbol']
# symbol = ['AAPL','MSFT','F','AMD','FB','MRF.NS','SHAKTIPUMP.NS','OAL.NS','KSCL.NS','MARKSANS.NS','LICHSGFIN.NS','CANFINHOME.NS','SASKEN.NS','HINDPETRO.NS','TIDEWATER.NS','HIL.NS','BALKRISIND.NS','NAVINFLUOR.NS']

# for x in symbol:
#     newurl = url.replace('stock_name',x)
#     df_stock_peer = pd.read_json(newurl)
#     saveToSQL(df_stock_peer,"stock_peer",'append')
# #     df_income_statement.append(df_income_statement)
# #     call_api(newurl)
# print('Entire Data loaded in table')

In [ ]:
STUDY THIS FROM API: 

https://site.financialmodelingprep.com/developer/docs/formula

https://site.financialmodelingprep.com/developer/docs/dcf-formula
    
https://site.financialmodelingprep.com/developer/docs/recommendations-formula

In [ ]:
# #JUST FOR AN EXERCISE
# #ADDING COLUMN IN A DATAFRAME FROM ANOTHER DATAFRAME TO SAVE IN DATABASE

# # in below API link we do not have 'symbol' in json file. So we will 
# # 1 Read symbol table from database in dataframe.
# # 2 we will retrieve API data from symbol and will insert in new dataframe 
# # 3 then we will append symbol to new dataframe.

# #1 Read symbol
# from sqlalchemy import create_engine
# engine = create_engine('mysql+pymysql://root:Sushant#1485abcd@localhost/mysql_portfolio')
# df_symbolfromdb = pd.read_sql_table('symbol_list',engine)
# df_symbolfromdb.head(5)
# symbol = df_symbolfromdb['symbol']

# #2 Retrieve data
# rowcount = 0
# url = 'https://financialmodelingprep.com/api/v3/technical_indicator/daily/symbol?period=0&type=ema&apikey=96d0bbfe61e1cad96d3a497d880cdd2f'
# for x in symbol:
#     newurl = url.replace('symbol',x)
#     df_daily_price = pd.read_json(newurl)
# #3 Append symbol 
#     df_daily_price['symbol'] = x
#     saveToSQL(df_daily_price,"daily_price",'append')

# df_daily_price.head(10)
# #     df_income_statement.append(df_income_statement)
# #     call_api(newurl)

In [ ]:
# #JUST FOR AN EXERCISE
# #ADDING COLUMN AS A FOREIGN KEY IN A DATAFRAME FROM ANOTHER DATAFRAME TO SAVE IN DATABASE 
# # in below API link we do not have 'symbol' in json file. So we will 
# # 1 Read symbol table from database in dataframe.
# # create another dataframe 'symbol_id' with symbol and its id
# # 2 we will retrieve API data from symbol and will insert in new dataframe 
# # 3 then we will JOIN 'symbol_id' to new dataframe based on symbol we retrieved the data.

# #1 Read symbol
# from sqlalchemy import create_engine
# engine = create_engine('mysql+pymysql://root:Sushant#1485abcd@localhost/mysql_portfolio')
# df_symbolfromdb = pd.read_sql_table('symbol_list',engine)
# df_symbolfromdb.head(5)
# df_symbol_id = df_symbolfromdb[['symbol','id']].copy()
# df_symbol_id.rename({'id': 'symbol_id'}, axis=1, inplace=True)
# df_symbol_id.head(5)

# symbol = df_symbolfromdb['symbol']
# #2 Retrieve data
# rowcount = 0
# url = 'https://financialmodelingprep.com/api/v3/technical_indicator/daily/symbol?period=0&type=ema&apikey=96d0bbfe61e1cad96d3a497d880cdd2f'
# for x in symbol:
#     newurl = url.replace('symbol',x)
#     df_daily_price2 = pd.read_json(newurl)
# #3 Append symbol 
#     df_daily_price2['symbol'] = x
#     print(x)
#     df_daily_price_with_foreign_key = pd.merge(df_daily_price2,df_symbol_id,on='symbol')
#     saveToSQL(df_daily_price_with_foreign_key,"daily_price2",'append')

# df_daily_price_with_foreign_key(5)
# # df_daily_price.head(10)
# # #     df_income_statement.append(df_income_statement)
# #     call_api(newurl)